<div *ngIf="ingredientDescriptor">
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input name="amount" matInput type="number" [(ngModel)]="ingredientDescriptor.amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit</mat-label>
    <input matInput [formControl]="unitControl" [matAutocomplete]="autoUnit" [(ngModel)]="ingredientDescriptor.unit">
    <mat-autocomplete #autoUnit="matAutocomplete">
      <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit">
        {{unit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ingredient</mat-label>
    <input matInput [formControl]="ingredientControl" [matAutocomplete]="autoIngredient" [(ngModel)]="ingredientDescriptor.ingredient">
    <mat-autocomplete #autoIngredient="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
        {{ingredient.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
